body {
    margin: 0;
    overflow-x: hidden;
    background-image: url("../images/bg-home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.left_hand_menu-nav li:hover a,
.left_hand_menu-nav li.active a {
    background: #fff;
    color: #3710c4;
}

.left_hand_main-nav li {
    display: block;
}


.left_hand_main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}



/* Left Side Menu */

.left_hand_menu .profile_picture {
    margin-top: 50px;
}

.left_hand_menu .profile_picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #211d52;
    transition: all 5s;
}

.left_hand_menu {
  background-color: #000000;

  /* background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through */

  
  height: 100vh;


  width: 280px;


  min-width: 280px;

  /* In small screens, allows the side menu to appear above all the other elements */
  z-index: 999 !important;

  overflow-y: scroll;


  position: fixed;
  top: 0px;  
  border-right: 1px solid #f1f1f1;
  text-align: center;
}

::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
  }



#Site_Progress{
    background: #d8d50f;
    height: 35px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: red;
    border: 2px solid red;


    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999 !important;

    /* visibility: hidden; */
}


.content{
    color: white;
    /* font-weight: bold; */
    /* border: 1px solid #f1f1f1; */


    transform: translate(280px, 0%);

    padding-top: 180px;
    
    padding: 0px;
    text-align: center;

    position: relative;

    width: calc(100vw - 425px);

    transform: translate(340px, 0%);
    
    min-height: 100vh;
}


  .header {
    top: 0px;
    position: fixed;
    background-color: #000000; /* Fallback color */
    color: white;
    /* font-weight: bold; */
    border-bottom: 1px solid #f1f1f1;
    

    z-index: 99 !important;

    width: calc(100vw - 299px);

    transform: translate(280px, 0%);
    
    padding: 0px;
    text-align: center;
    height: 60px;
}

.header-img img{
    height: 50px;
    left: 46%;
    border-radius: 50%;
    margin-top: 5px;
    /* position:absolute; */
    float:right;
    margin-right: 30px;
}



.menu-options{
    height: 40px;

    cursor: pointer;
    margin: 0%;
    float: left;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
}








#mobile{
    z-index: 999;
  }






.left_hand_menu-nav{
    text-align: center;
    margin-top: 15%;
}

.left_hand_menu-nav li {
    display: block;
}

.left_hand_menu-nav li a {
    
    
    margin-right: 16%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    width: 80%;
    transition: all 0.5s;
    border-top: 1px solid #fff;
}

.left_hand_menu-nav li:last-child a {
    border-bottom: 1px solid #fff;
}




/* Page Adjustment Based On Window Resolution */

#menu-close {
    display: none;
} 

#mobile_space{
    display: none;
}

hr{
    display: none;
}

@media screen and (max-width: 1680px) {
    .header{
        transform: translateX(-100%);
        
    }
    .content{
        transition: all 1s;
    }
}


@media screen and (max-width: 1280px){

}

@media screen and (max-width: 845px){

    #menu-toggle,
    #menu-close {
        display: inline-block;
    }

    hr{
        display:inherit;
        
    }

    #mobile_space{
        display:block;
    }

    .left_hand_menu {
        transform: translateX(-100%);
    }

    .left_hand_menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .header{
        transform: translate(0%, 0%);
        width: calc(100vw);
        transition: all 1s;


    }

    .content{
        transform: translate(3.4vw, 0%);
        width: 90vw;
        transition: all 1s;
    }

}